<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./assets/images/SWIM-Logo-title.jpg" width="30" height="30" alt="" loading="lazy">
  </a>
</nav>

<h1>Stock Watch Inventory Management</h1>
</br>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      {{!-- Update Button on upper part of page - updates item_QOH --}}
      <div class="btn-group">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Item Used
        </button>
        <div class="dropdown-menu">
          ...
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="btn-group">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Quantity Used
        </button>
        <div class="dropdown-menu">
          ...
        </div>
      </div>
    </div>
    <div class="col-sm">
      <label for="price">Price:</label>
      <input type="number" min="0.00" max="100000.00" step="0.01" name="price" id="price" required="required">
    </div>
    <input class="btn btn-primary" type="button" value="Update">
  </div>
  <hr>
  </br>
    
  <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">inventory items go here</div>
                    <div class="col-2">item quantity goes here</div>
                    <div class="col-1"><button type="button" class="btn btn-primary btn-sm">Source Info</button></div>
                </div>
            </div>

            <div class="col-4">
                <div class="row overflow-auto">
                    Pulls item specific pricing, availability and delivery time from
                    separately maintained vendor database.
                </div>
                </br>
                <div class="row">Budget Total
                    New Budget goes here
                </div>
            </div>
        </div>

